body {
    padding: 0;
    margin: 0;
}

#pageApp {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    background-color: #dddddd;
    height: 1px;
    margin: 20px 0;
}

.form-item {
    width: 100%;
    display: block;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 3px;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    &:focus {
        box-shadow: 0 0 1px 1px rgba(255, 196, 0, 0.502);
        border-color: rgba(255, 195, 0, 0.502);
    }
}

.btn {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #ddd;
    outline: none;
    transition: box-shadow 0.3s;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }
    &.btn-red {
        $color: #f56c6c;
        background-color: $color;
        color: #fff;
        border-color: $color;
        &:focus {
            box-shadow: 0 0 1px 1px $color;
        }
    }
    &.btn-warning {
        $color: #E6A23C;
        background-color: $color;
        color: #fff;
        border-color: $color;
        &:focus {
            box-shadow: 0 0 1px 1px $color;
        }
    }
    &.btn-success {
        $color: #67C23A;
        background-color: $color;
        color: #fff;
        border-color: $color;
        &:focus {
            box-shadow: 0 0 1px 1px $color;
        }
    }
    &.btn-blue {
        $color: #409EFF;
        background-color: $color;
        color: #fff;
        border-color: $color;
        &:focus {
            box-shadow: 0 0 1px 1px $color;
        }
    }
    &:focus {
        box-shadow: 0 0 1px 1px rgba(255, 196, 0, 1);
    }
}

.box {
    position: relative;
    margin: 0 30px;
    float: left;
}

.fk {
    border: solid 3px #333;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .3s;
    left: 0;
    top: 0;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    left: 30px;
    top: 30px;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    overflow: auto;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

// .modal-mask {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }
.modal-content {
    position: relative;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 14px;
    font-family: '微软雅黑';
    .modal-close {
        position: absolute;
        right: 10px;
        height: 45px;
        line-height: 45px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: #409eff;
        }
    }
    .modal-head {
        border-bottom: solid 1px #ddd;
        padding: 10px;
        .modal-title {
            font-size: 1.3em;
        }
    }
    .modal-body {
        padding: 20px 10px;
    }
    .modal-footer {
        padding: 10px;
        border-top: solid 1px #ddd;
        height: auto;
    }
}

.modal-enter-active,
.modal-leave-active {
    transition: all .3s;
    .modal-content {
        transition: all .3s;
        top: 0;
    }
}

.modal-enter,
.modal-leave-to {
    opacity: 0;
    .modal-content {
        opacity: 0;
        top: -30px;
    }
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.list {
    * {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        padding: 10px;
        transition: all 0.4s;
        display: inline-block;
        cursor: pointer;
        user-select: none;
        &:hover {
            background-color: #dddddd;
        }
    }
}

.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateY(100px);
}

.list-move {
    transition: transform 1s;
}

.list-leave-active {
    position: absolute;
}

.move-fk {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    margin: 10px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px #ddd;
    width: auto;
    white-space: nowrap;
    overflow: auto;
    .item {
        text-align: center;
        transition: all 0.4s;
        display: inline-block;
        padding: 10px 30px;
        border: solid 1px #ddd;
        border-width: 0 1px;
        margin-left: -1px;
    }
}

.card {
    position: relative;
    width: 100%;
    display: block;
    border: solid 1px #ddd;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .05);
    margin-bottom: 20px;
    font-size: 14px;
    .card-head {
        position: relative;
        padding: 10px;
        border-bottom: solid 1px #ddd;
        line-height: 1;
        .card-title {
            display: inline-block;
            font-size: 1.1em;
        }
    }
    .card-body {
        position: relative;
        padding: 20px 10px;
    }
    .card-footer {
        position: relative;
        line-height: 1;
        border-top: solid 1px #ddd;
        padding: 10px;
    }
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cube {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 50%;
    margin: auto;
    width: 1px;
    background-color: #dddddd;
    transform: translateY(-50%);
}

#pageApp {
    max-width: 1000px;
    margin: 0 auto;
}

.number {
    $radius: 3px;
    display: inline-block;
    width: auto;
    position: relative;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: $radius;
    font-size: 14px;
    input {
        text-align: center;
        padding: 10px 0;
        display: inline-block;
        margin: 0;
        border-radius: $radius;
    }
    .number-btn {
        position: absolute;
        top: 0;
        padding: 10px 20px;
        height: 100%;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        user-select: none;
        &.number-btn-reduce {
            left: 0;
            border-right: solid 1px #ddd;
            border-radius: $radius 0 0 $radius;
        }
        &.number-btn-plus {
            right: 0;
            border-left: solid 1px #ddd;
            border-radius: 0 $radius $radius 0;
        }
        &:hover {
            background-color: #dddddd;
        }
    }
}

.cloth {
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #ddd;
    position: relative;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 1px rgba(0, 0, 0, .05);
}

.label {
    padding: 1px 6px;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    display: inline-block;
    background-color: #f56c6c;
    text-align: center;
    white-space: nowrap;
}

.card {
    .show-code-view {
        border-top: solid 1px #ddd;
        background-color: #f9fafc;
        padding: 20px;
        overflow: hidden;
        display: none;
        &.show {
            height: auto;
        }
    }
    .show-code {
        text-align: center;
        overflow: hidden;
        color: #d3dce6;
        padding: 15px 10px;
        cursor: pointer;
        .show-icon {
            position: absolute;
            transition: all 0.4s;
            transform: translateX(0);
        }
        .show-title {
            position: absolute;
            opacity: 0;
            transform: translateX(40px);
            margin-left: -20px;
            transition: all 0.4s;
        }
        .show-info {
            position: relative;
            transition: all 0.3s;
            transform: translateX(40px);
            opacity: 0;
            padding-right: 30px;
        }
        &:hover {
            color: #409eff;
            background-color: #f9fafc;
            .show-title {
                opacity: 1;
                transform: translateX(0);
            }
            .show-icon {
                transform: translateX(-40px);
            }
            .show-info {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}